$color-white : #F7F1F0;
$color-navy : #4247AF;
$color-red : #922C16;
$color-black : #4D4E55;
$color-green : #1E8F18;
$color-gradient : url image;
$color-light-grey: #B6B0AF;
$color-dark-grey: #8A8685;
$color-texte-white: #8A8685;
$color-texte-navy: #04176F;
$color-texte-red: #5D1F0A;
$color-texte-black: #EBECF9;
$color-texte-green: #094606;
$color-texte-gradient: grey;

.white{
	background-color: $color-white;
	color: $color-texte-white;
}
.navy{
	background-color: $color-navy;
	color: $color-texte-navy;
}
.red{
	background-color: $color-red;
	color: $color-texte-red;
}
.black{
	background-color: $color-black;
	color: $color-texte-black;
}
.green{
	background-color: $color-green;
	color: $color-texte-green;
}
.gradient{
	background-color: url;
	color: grey;
}

body{
	background: $color-white;
	font-family: 'Arial', sans serif;
}
.site{
	width: 18vw;
	height: 318px;
	border: 2px solid black;
	position: absolute;
	top: 1px;
	left: 1px;
	display: none;
	z-index: 2;
}
h2{
	margin-left: 17px;
}
.site2{
	background-color:$color-light-grey;
	width: 100%;
	height: 86%;
}
.siteImg{
	margin: 0 auto;
	width: 30%;
	height: 28%;
	border: 2px solid black;
	background: white;
			
}
.btn{
	width: 36%;
	height: 30%;
	position: absolute;
	top: 48px;
	left: 177px;
}
.A1 {
	padding: 1px 2px;
	margin-left: 11px;
	border: 2px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 0 black;
	font-size: 10px;
	color: black;
	background-color:$color-light-grey;
}
.A2{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	padding: 0px 7px;
	border: 2px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px 0 black;
	font-size: 10px;
	color: black;
	background-color:$color-light-grey;
}
.input{
	width: 100%;
	height: 30%;
	position: absolute;
	top: 169px;
	input:first-child{
		margin-left: 58px;
	}
	input:last-child{
		display: block;
		margin-top: 17px;
		margin-left: 58px;
	}
}
.subA3{
	position: absolute;
	top: 257px;
	left: 78px;
	border: 2px solid black;
}
.A3{
	color:black;
}
#Container{
	width: 100vw;
	height: 85vh;
	position: relative;
	z-index: 1;
}
#Daily td{
	padding-top: 20vh;
}
#Weekly td, #Monthly td{
	padding-top: 10vh;
}
button{
	width: 8vh;
	height: 8vh;
	border-radius: 5%;
	background-color: #B6B0AF;
	font-size: 30px;
	font-weight: 200; 
}
#Footer{
	width: 100vw;	
	height: 15vh;
	background-color: $color-light-grey;
}
#Footer td:first-child{
	padding-top: 3vh;
	padding-left: 5vh;
}
#Footer button{
	background-color: $color-dark-grey;	
}
/*-------MENU---------*/
.menuThemes{
    display: none;
}
.menuThemes.show{
    position: absolute;
    top: 80px;
    left : 30px;
    width: 230px;
    height: 350px;
    border-radius: 5px;
    background-color: $color-white;
    color: $color-texte-gradient;
    text-align: center;
    display: block;
}
.menuThemes ul{
    padding: 0;
    margin: 2px;
    line-height: 40px;
}
.menuThemes ul li{
    list-style-type: none;
    background-color: #F4F3F4 ;

}
.menuThemes ul li:nth-of-type(odd){
    background-color: white;
}
.imgBudda{
    position: absolute;
    left: 2vw;
    top: 40vh;
    width: 55px;
    cursor: pointer;
}
.imgBuddaTop{
    position: absolute;
    left: 7.5vw;
    top: 2vh;
    width: 55px;
    cursor: pointer;
}
/*-------------------------------*/

