$color-white : #F7F1F0;
$color-navy : #4247AF;
$color-red : #922C16;
$color-black : #4D4E55;
$color-green : #1E8F18;
$color-gradient : url image;
$color-light-grey: #B6B0AF;
$color-dark-grey: #8A8685;

body{
	background: $color-white;
	font-family: 'Arial', sans serif;
}
#Container{
	width: 100vw;
	height: 85vh;
}
#Daily td{
	padding-top: 20vh;
}
#Weekly td, #Monthly td{
	padding-top: 10vh;
}
button{
	width: 8vh;
	height: 8vh;
	border-radius: 5%;
	background-color: #B6B0AF;
	font-size: 30px;
	font-weight: 200; 
}
#Footer{
	width: 100vw;	
	height: 15vh;
	background-color: $color-light-grey;
}
#Footer td:first-child{
	padding-top: 3vh;
	padding-left: 5vh;
}
#Footer button{
	background-color: $color-dark-grey;	
}